<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714798624544-u7noqi4sts6jfu8bs73kosjt4pnj80ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714798624544-u7noqi4sts6jfu8bs73kosjt4pnj80ij</string>
	<key>API_KEY</key>
	<string>AIzaSyCsyDjxADBdqsp6DHEdaMsoyivFFZlgd_4</string>
	<key>GCM_SENDER_ID</key>
	<string>714798624544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-5bdec</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-5bdec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714798624544:ios:6e8032257e0809f937f145</string>
</dict>
</plist>